@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto);
  --font-trajan: var(--font-trajan);
}

/* Optional: Set defaults */
body {
  font-family: var(--font-roboto), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), sans-serif;
}